.title {
	color: #52C8EE;
	margin-left: 25%;
}
body {
	background-color: #383738;
	color: white;
	font-family: Consolas,monaco,monospace;
}
#container {
	position: relative;
	min-height: 95vh;
}
#wrap {
	padding-bottom: 5.5rem;
}

.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
}

.menu {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.main {
	margin-top: 10px;
	margin-left: 20%;
	margin-right: 20%;
	text-align: justify;
	text-justify: inter-word;
	text-align-last: center;
	font-size: 18px;
}
.updates {
	font-size: 20px;
	margin-top: 25px;
	margin-left: 20%;
	margin-right: 20%;
}
.list {
	font-size: 16px;
	margin-top: 10px;
	margin-left: 1%;
	margin-right: 20%;
}
.image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
.update {
	margin-top: 10px;
	margin-left: 30%;
	margin-right: 30%;
	text-align: justify;
	text-justify: inter-word;
	text-align-last: center;
	font-size: 18px;
}
.row {
	background-image: radial-gradient(circle at center, white 0, #383738, #383738 100%);
}
.column {
  float: left;
  width: 49%;
  margin-top: 20%;
  margin-bottom: 20%;
  margin-right: -30%;
  margin-left: 10%;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
#footer {
	background-color: #383738;
	color: white;
	font-family: Consolas,monaco,monospace;
	position: absolute;
	bottom: 10px;
	font-size: 18px;
	display: inline-block;
	left: 10%;
	height: 2.5rem;
	width: 180px;
	padding-top: 30px;
}
.socials
{
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	float: right;
	width: 40px;
	padding-left: 10px;
}
.socials:hover .image {
  opacity: 0.3;
}
/* links */
.menu a:link {
	color: lightblue;
	text-decoration: none;
	font-size: 25px;
}
.menu a:visited {
	color: lightblue;
	text-decoration: none;
	font-size: 25px;
}
.menu a:hover {
  color: lightgrey;
  text-decoration: none;
  font-size: 25px;
}
.menu a:active {
  color: lightblue;
  text-decoration: none;
  font-size: 25px;
}
/* links for updates */
.updates a:link {
	color: white;
	text-decoration: none;
	font-weight: bold;
}
.updates a:visited {
	color: white;
	text-decoration: none;
	font-weight: bold;
}
.updates a:hover {
	color: #EBECF8;
	text-decoration: none;
	font-weight: bold;
}
.updates a:active {
	color: #EBECF8;
	text-decoration: none;
	font-weight: bold;
}
/* links for mid-text in update */
.update a:link {
	color: lightblue;
	text-decoration: none;
	font-weight: bold;
}
.update a:visited {
	color: lightblue;
	text-decoration: none;
	font-weight: bold;
}
.update a:hover {
	color: #EBECF8;
	text-decoration: none;
	font-weight: bold;
}
.update a:active {
	color: #EBECF8;
	text-decoration: none;
	font-weight: bold;
}
  /* For mobile phones: */
@media only screen and (max-width:620px) {
  .main, .rowf, .updates {
    width:90%;
    margin-left: 3%;
	margin-right: 3%;
	text-align: left;
	text-align-last: left;
  }
  .title {
    width:100%;
    margin-left: 5%;
    margin-right: 5%;
  }
  #footer{
  	left: 1%;
  }
}