*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
:root {
	--jumpObstacle1-box-shadow-color:#52C8EE;
}
body {
	background-color: #383738;
	color: white;
	font-family: Consolas,monaco,monospace;
}
.jumpGame{
    width: 1000px;
    height: 305px;
    margin: auto;
}
.game{
    width: 1000px;
    height: 200px;
    margin: auto;
    float: left;
}
#jumpLight{
    width: 80px;
    height: 100px;
    top: 100px;
    position: relative;
    background:radial-gradient(farthest-side at bottom,#52C8EE ,#0000);
    -webkit-mask:conic-gradient(from -90deg at bottom,#0000, #000 1deg 180deg, #0000 91deg);
    /*background: linear-gradient(#52C8EE, #383738);*/
}
#jumpPlayer{
    width: 50px;
    height: 50px;
    background-image: url("https://github.com/Bamba-14/Website/blob/main/images/jumpMan1.png?raw=true");
    position:relative;
    top: 50px;
    left: 15px;
    border-radius: 50%;
    /*box-shadow: 50px -100px 100px #52C8EE;*/
}
@keyframes spinBall {
    100% {transform: rotate(360deg);}
}
.animatePlayer{
    animation: jump 0.3s linear;
}
@keyframes jump{
    0%{top: 50px;}
    10%{background-image: url("https://github.com/Bamba-14/Website/blob/main/images/jumpMan2.png?raw=true");}
    30%{top: 0px; background-image: url("https://github.com/Bamba-14/Website/blob/main/images/jumpMan3.png?raw=true");}
    70%{top: 0px; background-image: url("https://github.com/Bamba-14/Website/blob/main/images/jumpMan3.png?raw=true");}
    90%{background-image: url("https://github.com/Bamba-14/Website/blob/main/images/jumpMan2.png?raw=true");}
    100%{top: 50px;}
}

#jumpObstacle1{
    background-color: #52C8EE;
    width: 20px;
    height: 20px;
    position: relative;
    top: 30px;
    left: 1000px;
    box-shadow: 0px 14px 64px 20px var(--jumpObstacle1-box-shadow-color);
}

@keyframes jumpObstacleAnimation1{
    0%{left: 1000px;}
    100%{left: -20px;}
}
#jumpObstacle2{
    background-color: #52C8EE;
    width: 10px;
    height: 10px;
    position: relative;
    top: 20px;
    left: 1020px;
    box-shadow: 0px 14px 64px 20px var(--jumpObstacle1-box-shadow-color);
}

@keyframes jumpObstacleAnimation2{
    0%{left: 2000px;}
    100%{left: -20px;}
}

p{
    text-align: center;
}

#gameControls{
    position: relative;
    float:center;
    width: 1000px;
    height: 98px;
    margin: auto;
}

#currentScore{
    top: 0px;
    margin: auto;
    text-align: center;
}

#finalScore{
    top: 0px;
    margin: auto;
    text-align: center;
}

.inactiveCurrentScore{
	color:#383738;
}
.inactiveFinalScore{
	color:#383738;
}
.button {
  background-color: #52C8EE;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
